/* место для вашего кода */
.header {
  width: 1052px;
  margin: 92px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-right: 32px;
  display: flex;
}

.header__links-list-item {
  list-style-type: circle;
  margin-left: 33px;
}

.header__links-list-item:hover {
  color: #EAABD8;
  transition: 0.6s;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
  margin-left: 26.52px;
}

.header__links-list-item_no-underline {
  text-decoration: none;
  margin-left: 0;
}

.header__logo {
  padding-right: 178px;
}

.header__logo-image {
  height: 105px;
  width: 148px;
}

.address {
  width: 240.52px;
  margin-right: 25px;
  font-style: normal;
}

.address__info {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.address__info:hover {
  color: #EAABD8;
  transition: 0.6s;
}

.address__info_no-underline {
  text-decoration: none;
}

.address__info_no-underline:hover {
  color: #000;
}

/* --------main-------- */
/* --------cover-------- */

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: contain;
  background-size: 1100px 757px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover__title {
  padding-top: 165px;
  width: 1000px;
  margin: 0 auto;
}

.cover__title__font {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 115px;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  line-height: 100px;
  letter-spacing: 0.3em;
  padding-top: 13px;
  text-align: center;
}

.aligned-text_right {
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: end;
  padding-top: 5px;
}

.letter-spacing-extended {
  line-height: 115px;
  letter-spacing: 0.6em;
}

.last-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1000px;
  margin: 128px auto 0;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-left: 28px;
}

.bet-button {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  padding: 12px 32px;
  border: 1px solid #fff;
}

.bet-button:hover {
  background-color: rgba(234, 171, 216, 0.3);
  border: 1px solid #EAABD8;
  transition: 0.6s;
}

/* --------lots-------- */

.lots {
  width: 1052px;
  margin: 179px auto 0;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  width: 1052px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.card-link {
  display: block;
  text-decoration: none;
  padding-top: 27px;
}

.card {
  width: 334px;
  min-height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  width: 254px;
  margin: 51px auto 0;
  z-index: 2;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 24px;
  width: 254px;
  margin: 0 auto 48px;
  z-index: 2;
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  display: block;
  width: 192px;
  margin: 30px 0 0 40px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.lots__look-more-link:hover {
  color: #EAABD8;
  transition: 0.6s;
}

/* --------about-------- */

.about {
  width: 1052px;
  margin: 146px auto 0;
}

.about__column {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 72px;
  grid-row-gap: 8px;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 0 47px;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-top: 136px;
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  grid-column: 2/3;
}

.about__text p {
  /*Насколько я поняла, этот отступ применился только ко второму абзацу, мне, конечно, так и надо, но всё же я не понимаю, почему к первому абзацу этот отсутп не применяется*/
  margin-bottom: 25px;
}

.about__text_under {
  margin-top: 1em;
}

/* --------footer-------- */

.footer {
  width: 1000px;
  margin: 155px auto 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 26px;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__menu-link_active {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.footer__menu-link_active:hover {
  color: #EAABD8;
  transition: 0.6s;
}

.footer__menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.footer__menu-link:hover {
  color: #EAABD8;
  transition: 0.6s;
}

.footer__social-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.footer__social-list-item {
  list-style-type: none;
  transition: transform 0.3s ease;
}

.footer__social-list-item:hover {
  transform: rotate(10deg);
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
